<html>
    <head>
        <title>Example Blog</title>
    </head>
    <body>
      <h1>All Posts</h1>
      <ul>
      {%- for page in pages -%}
      {%- if page.title -%}
        <li><a href="{{ url_for('get_page', slug=page.key) }}">{{ page.title }}</a></li>
      {%- else -%}
        <li><a href="{{ url_for('get_page', slug=page.key) }}">No title</a></li>
      {%-endif -%}
      {%- endfor -%}
    </ul>
    <h1>All Tags</h1>
    <ul>
    {%- for tag in tags -%}
      <li><a href="{{ url_for('get_tags', tag=tag) }}">{{ tag }}</a></li>
    {%- endfor -%}
    </ul>
    </body>
</html>
