{% from "macros/pagination.jinja" import render_pagination with context %}
<html>
    <head>
        <title>Page {{ pag }} of {{ l }}</title>
    </head>
    <body>
      <h1>Page {{ pag }} of {{ l }}</h1>
      <ul>
        {%- for page in ppages -%}
          {%- if page.title -%}
            <li><a href="{{ url_for('get_page', slug=page.key) }}">{{ page.title }}</a></li>
          {%- else -%}
            <li><a href="{{ url_for('get_page', slug=page.key) }}">No title</a></li>
          {%-endif -%}
        {%- endfor -%}
      </ul>
      
      {{ render_pagination(pag, l) }}
    </body>
</html>
